.login{
    display: grid;
    place-content: center;
    height: 100vh;
}

.login__container > img{
    object-fit: contain;
    height: 200px;
    padding: 15px;
}

.login__container{
    display: flex;
    flex-direction: column;
}

