.chat{
    display: flex;
    flex-direction: column;
    flex: .65;
}

.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat-header-info{
    flex: 1;
    padding-left: 20px;
}

.chat-header-info > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat-header-info > p{
    color: gray;
}

.chat-body{
    flex: 1;
    background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat-message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
    width: fit-content;
}

.chat-receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp{
    font-size: xx-small;
    margin-left: 10px;
}

.chat-name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: x-small;
}

.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat-footer > form{
    flex: 1;
    display: flex;
}

.chat-footer > form > input{
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 30px;
    outline: none;
}

.chat-footer > form > button{
    display: none;
}

.chat-footer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}