.sidebar{
    display: flex;
    flex-direction: column;
    flex: .35;
}


.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar-header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar-search{
    display: flex;
    background-color: #f6f6f6;
    padding: 10px;
    align-items: center;
    height: 39px;
}

.sidebar-search-container{
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    align-items: center;
    height: 35px;
}

.sidebar-search-container > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.search-box{
    background-color: white;
    border: none;
    width: 100%;
    outline: none;
    margin-left: 5px;
}

.sidebar-chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}